<div
  class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
>
  <!-- Título -->
  <div class="flex items-center justify-between my-6 mx-6">
    <h1 class="text-3xl font-bold text-gray-800">Employee List</h1>
  </div>
  <label for="table-search" class="sr-only">Search</label>
  <div class="relative mr-4 mt-4">
    <div
      class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
    >
      <search-svg />
    </div>
    <input
      type="text"
      id="table-search-users"
      class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Search for users"
    />
  </div>
</div>
<div
  class="relative h-[calc(100vh-240px)] overflow-auto shadow-md sm:rounded-lg"
>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase sticky top-0 z-10 bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">Id</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Phone</th>
        <th scope="col" class="px-6 py-3">Position</th>
        <th scope="col" class="px-6 py-3">Salary</th>
        <th scope="col" class="px-6 py-3">Hire Date</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employeesResource.value(); track $index) {
      <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
        <!-- Id -->
        <td class="px-6 py-4">{{ employee.id }}</td>
        <!-- Name -->
        <th
          scope="row"
          class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap"
        >
          <div class="ps-3">
            <div class="text-base font-semibold">
              {{ employee.name }} <br />{{ employee.lastname }}
            </div>
            <div class="font-normal text-gray-500">{{ employee.email }}</div>
          </div>
        </th>
        <!-- Phone -->
        <td class="px-6 py-4">{{ employee.phone }}</td>
        <!-- Position -->
        <td class="px-6 py-4">{{ employee.position.name }}</td>
        <!-- Salary -->
        <td class="px-6 py-4">
          <span>{{
            employee.salary | currency : "USD" : "symbol" : "1.2-2"
          }}</span>
        </td>
        <!-- Hire Date -->
        <td class="px-6 py-4">{{ employee.hireDate | date }}</td>
        <!-- Status -->
        <td class="px-6 py-4">
          <div class="flex items-center">
            @switch (employee.state) { @case ("ACTIVO"){
            <div class="h-2.5 w-2.5 rounded-full bg-green-500"></div>
            } @case ("INACTIVO"){
            <div class="h-2.5 w-2.5 rounded-full bg-red-500"></div>
            }@case ("VACACIONES"){
            <div class="h-2.5 w-2.5 rounded-full bg-yellow-400"></div>
            }@case ("LICENCIA"){
            <div class="h-2.5 w-2.5 rounded-full bg-blue-500"></div>
            } @default {
            <div class="h-2.5 w-2.5 rounded-full bg-gray-400"></div>
            <span>Estado</span>
            }} <span class="ms-2">{{ employee.state }}</span>
          </div>
        </td>
        <!-- Action -->
        <td class="font-medium px-6 py-4">
          <a
            href="#"
            class="text-blue-600 hover:underline"
            th:href="@{/employees/edit/{id}(id=${employee.id})}"
            >Edit</a
          >
          <a
            href="#"
            class="text-red-600 hover:underline ms-2"
            th:href="@{'/employees/delete/' + ${employee.id}}"
            onclick="return confirm('Are you sure?')"
            >Remove</a
          >
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
