<div
  class="min-h-screen w-screen flex flex-col items-center justify-center gap-6 bg-gray-100 p-6"
>
  <!-- Contenedor 3/4 y 1/4 -->
  <div class="w-full flex flex-1 items-center gap-4">
    <!-- 3/4 -->
    <div class="w-3/4 bg-white p-6 mx-6 my-6 rounded-2xl">
      <!-- Título -->
      <div class="w-full mb-6">
        <div class="flex items-center justify-between my-6 mx-6">
          <h1 class="text-3xl font-bold text-gray-800">Employee List</h1>
        </div>
      </div>
      <employees-table></employees-table>
    </div>
    <!-- 1/4 -->
    <div class="w-1/4 bg-white p-6 rounded-2xl">
      <h1
        th:text="${employee.id == null} ? 'New Employee' : 'Edit Employee'"
        class="text-3xl font-bold text-center text-gray-800 mb-6"
      >
        New Employee
      </h1>
      <employees-form />
    </div>
  </div>
</div>
