<div
  class="min-h-screen w-screen flex flex-col items-center justify-center gap-6 bg-gray-100 p-6"
>
  <!-- Contenedor 3/4 y 1/4 -->
  <div class="w-full flex flex-1 items-center gap-4">
    <!-- 3/4 -->
    <div class="w-3/4 bg-white p-6 mx-6 my-6 rounded-2xl">
      <!-- Título -->
      <div class="w-full mb-6">
        <div class="flex items-center justify-between my-6 mx-6">
          <h1 class="text-3xl font-bold text-gray-800">Employee List</h1>
        </div>
      </div>
      <employees-table></employees-table>
    </div>
    <!-- 1/4 -->
    <div class="w-1/4 bg-white p-6 rounded-2xl">
      <h1
        th:text="${employee.id == null} ? 'New Employee' : 'Edit Employee'"
        class="text-3xl font-bold text-center text-gray-800 mb-6"
      ></h1>
      <form
        class="max-w-sm mx-auto"
        th:action="@{/employees/save}"
        th:object="${employee}"
        method="post"
      >
        <!-- Campos -->
        <div class="text-sm text-gray-900 dark:text-white">
          <!-- Id -->
          <input type="hidden" th:field="*{id}" />
          <!-- name -->
          <div class="mt-2">
            <label for="name" class="block mb-2 font-medium">Name</label>
            <input
              type="text"
              id="name"
              th:field="*{name}"
              required
              oninvalid="this.setCustomValidity('El nombre es obligatorio')"
              oninput="setCustomValidity('')"
              class="input-base"
            />
          </div>
          <!-- lastName -->
          <div class="mt-2">
            <label for="lastname" class="block mb-2 font-medium">Name</label>
            <input
              type="text"
              id="lastname"
              th:field="*{lastname}"
              required
              oninvalid="this.setCustomValidity('El apellido es obligatorio')"
              oninput="setCustomValidity('')"
              class="input-base"
            />
          </div>
          <!-- Email -->
          <div class="mt-2">
            <label for="email" class="block mb-2 font-medium">Email</label>
            <div class="relative">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 16"
                >
                  <path
                    d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                  />
                  <path
                    d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                  />
                </svg>
              </div>
              <input
                type="text"
                id="email"
                th:field="*{email}"
                required
                oninvalid="this.setCustomValidity('El correo es obligatorio')"
                oninput="setCustomValidity('')"
                class="input-base ps-10"
                placeholder="name@flowbite.com"
              />
            </div>
          </div>
          <!-- Phone -->
          <div class="mt-2">
            <label for="phone" class="block mb-2 font-medium">Phone</label>
            <input
              type="text"
              id="phone"
              th:field="*{phone}"
              required
              placeholder="0000-0000"
              oninvalid="this.setCustomValidity('El teléfono es obligatorio')"
              oninput="setCustomValidity('')"
              class="input-base"
            />
          </div>
          <!-- position -->
          <div class="mt-2">
            <label for="position" class="block mb-2 font-medium"
              >Position</label
            >
            <select
              id="position"
              th:field="*{position}"
              required
              oninvalid="this.setCustomValidity('La posición es obligatoria')"
              oninput="setCustomValidity('')"
              class="input-base"
            >
              <option value="" disabled selected>
                Seleccione una posición
              </option>
              <option
                th:each="pos : ${positions}"
                th:value="${pos.id}"
                th:text="${pos.name}"
              ></option>
            </select>
          </div>
          <!-- salary -->
          <div class="mt-2">
            <label for="salary" class="block mb-2 font-medium">Salary</label>
            <input
              type="number"
              id="salary"
              th:field="*{salary}"
              min="0"
              step="0.01"
              required
              oninvalid="this.setCustomValidity('El salario es obligatorio')"
              oninput="setCustomValidity('')"
              class="input-base"
            />
          </div>
          <!-- hireDate -->
          <div class="mt-2">
            <label for="hireDate" class="block mb-2 font-medium"
              >Hire Date</label
            >
            <input
              type="date"
              id="hireDate"
              th:field="*{hireDate}"
              required
              oninvalid="this.setCustomValidity('La fecha de contratación es obligatoria')"
              oninput="setCustomValidity('')"
              class="input-base"
            />
          </div>
          <!-- state -->
          <div class="mt-2">
            <label for="state" class="block mb-2 font-medium">Status</label>
            <select
              id="state"
              th:field="*{state}"
              required
              oninvalid="this.setCustomValidity('El estado es obligatorio')"
              oninput="setCustomValidity('')"
              class="input-base"
            >
              <option value="" disabled selected>Seleccione un estado</option>
              <option
                th:each="s : ${states}"
                th:value="${s}"
                th:text="${s}"
              ></option>
            </select>
          </div>
        </div>
        <!-- Add Buttons -->
        <div th:if="${employee.id == null}" class="w-full flex gap-4 my-2">
          <button type="submit" class="w-full button button-primary">
            Agregar
          </button>
        </div>
        <!-- Edit Buttons -->
        <div th:if="${employee.id != null}" class="w-full flex gap-4 my-2">
          <a th:href="@{/employees}" class="w-1/2 button button-secondary">
            Cancelar
          </a>
          <button type="submit" class="w-1/2 button button-primary">
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Script para mascara del phone -->
<script
  src="https://cdn.jsdelivr.net/npm/cleave.js@1/dist/cleave.min.js"
  defer
></script>
<script defer>
  document.addEventListener("DOMContentLoaded", () => {
    new Cleave("#phone", {
      delimiters: ["-"],
      blocks: [4, 4],
      numericOnly: true,
    });
  });
</script>
