<div
  class="min-h-screen w-screen flex flex-col items-center justify-center gap-6 bg-gray-100"
>
  <!-- Contenedor 3/4 y 1/4 -->
  <div class="w-full flex flex-1 items-center gap-4">
    <!-- 3/4 -->
    <div
      class="w-3/4 h-[calc(100vh-90px)] bg-white p-6 mx-6 my-6 rounded-2xl overflow-auto"
    >
      <employees-table></employees-table>
    </div>
    <!-- 1/4 -->
    <div class="w-1/4 h-full bg-white p-6 my-6 rounded-2xl overflow-auto">
      <employees-form />
    </div>
  </div>
</div>
